/*
	Awesome Responsive Template
	templatestock.co
*/


/* Typography CSS */

body
{
	font-family: 'Roboto' !important;
	overflow-x: hidden;
}

.main_heading {
    margin: 50px 0px;
}

.main_heading h1
{
    font-size: 45px;
    font-weight: 300;
    text-align: center;
    line-height: 45px;
    color: #777;
}

.underline
{
    display: inline-block;
    width: 160px;
    height: 2px;
    background-color: #b8860b;
}

/* Header CSS */

.header-div
{
    height: 550px;
    background-image: linear-gradient(to bottom, #436e70, #5f9ea0);
}

.logo-div a
{
    color: #cc0000 !important;
    font-size: 40px;
    margin-top: 5px;
}

.navbar-nav li:nth-last-child(1) a
{
    background: #cfe2e2;
    border: 1px solid #fff;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.top-right-menu-ul
{
	margin-top: 10px;
}

.slide-text
{
	color: #fff;
	margin-top: 80px;
}

.slide-text h1
{
    line-height: 60px;
    font-size: 60px;
    margin-bottom: 18px;
}
.slide-text  a{
    color:#fff;
}
    
.slide-text  p{
    column-count: 6;
    column-gap: 20px;
    row-gap: 12px; 
}


.slide-text p
{
	font-size: 17px;
}


/* Features CSS */
.features-div
{
    text-align: center;
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    -ms-transition: all .15s linear;
    -o-transition: all .15s linear;
    transition: all .15s linear;
}

.features-div:hover
{
	margin-top: -10px;
}


.features-div i
{
    font-size: 35px;
    font-weight: 300;
    color: #b8860b;
}

.features-div h4
{
    color: #393939;
    font-weight: 400;
}

.features-div p
{
    color: #636363;
    font-size: 17px;
    font-weight: 300;
    line-height: 25px;
}

.more-features-div
{
    margin-top: 40px;
	overflow: hidden;
}

.more-feature-div
{
    background: #f8f8f8;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;	
    margin: 70px 0px;
    margin-bottom: 0px;      
    padding: 50px 0px;  
}

.more-feature-div .col-md-6 img
{
    width: 100%;
}


.more-features-div-icon {
    float: left;
    width: 60px;
    height: 60px;
    padding-top: 6px;
    background: #5f9ea0;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    font-size: 30px;
    color: #fff;
    line-height: 45px;
    text-align: center;
}

.more-features-div-heading {
    float: right;
    width: 86%;
    margin-top: 0;
    font-weight: 400;    
}

.more-features-div-description
{
	float: right;
    width: 86%;
    font-weight: 300;
}

/* Call Action */
.call-action-bg
{
    background-image: linear-gradient(to bottom, #436e70, #5f9ea0);
    margin:60px 0px; 
    text-align: center;
    color:#fff;
    padding-bottom: 50px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
    background-size: cover;    
}

.call-action-color {
    background-image: linear-gradient(to bottom, #436e70, #5f9ea0);
    margin: 60px 0px;
    text-align: center;
    padding-bottom: 50px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
    color: #fff;
}


.call-action-color .main_heading h1
{
	color: #fff;
}

.call-action-color .underline
{
	background-color: #fff;
}


/*Articles*/
/*body {
  font-family: sans-serif;
  min-height: 100vh;
  max-width: 100vw;
  line-height: 1.4;
  padding: 20px 40px;
}*/

body
{
	font-family: 'Roboto' !important;
	overflow-x: hidden;
	min-height: 100vh;
	max-width: 100vw;
	line-height: 1.4;
}
.container {
  max-width: 1200px;
}

.heading-1 {
  font-size: 40px;
  text-transform: uppercase;
}

.heading-2 {
  font-size: 40px;
  line-height: 1.1;
  margin-bottom: 20px;
}

.heading-3 {
  font-size: 20px;
  text-transform: uppercase;
  color: crimson;
  margin-bottom: 10px;
}

.sub-heading {
  font-size: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.sub-heading p {
  font-weight: 700;
  text-transform: capitalize;
  margin-right: 10px;
}

.sub-heading span {
  color: #555;
  font-weight: 300;
  border-right: 1px solid #ccc;
  padding-right: 10px;
}

.sub-heading .importent {
  color: crimson;
  text-transform: uppercase;
  font-weight: 300;
}

/* HOME */
h2{
padding: 20px 40px;
}
.home {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
}

.home-img {
  width: 100%;
  padding: 20px 40px;
}

.list {
  display: grid;
  grid-template-columns: 1fr 3fr;
  font-size: 15px;
  gap: 10px;
  margin-bottom: 10px;
  padding: 20px 40px;
}

.list img {
  width: 100%;
  height: 80px;
}

/* ARTICLE */
article > p {
  font-size: 20px;
  margin-bottom: 20px;
  padding: 20px 40px;

  columns: 3 25ch;
  column-gap: 40px;
  hyphens: auto;
}

article p:first-child::first-line {
  font-weight: 700;
  font-size: 25px;
}

/* blockquote */
blockquote {
  font-size: 20px;
  padding: 10px 30px;
  margin-bottom: 40px;
  position: relative;
}

blockquote::before {
  content: open-quote;
  position: absolute;
  top: -48px;
  left: -4px;
  opacity: .3;
  color: #666;
  font-size: 150px;
}

.cards {
  columns: 25ch 3;
  gap: 30px;
  margin-bottom: 40px;
  padding: 20px 60px;
}

.card {
  font-size: 20px;
  border: 1px #2f4f4f solid;
  padding: 10px 20px;
  break-inside: avoid;
}

@media (max-width: 950px) {
  .home {
    grid-template-columns: 1fr;
  }

  .lists {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .list {
    grid-template-columns: 1fr 5fr;
  }

  .card {
    margin-bottom: 40px;
  }
}

@media (max-width: 650px) {
  .lists {
    grid-template-columns: 1fr;
  }
}

/* About */
.about-us-box {
    padding-top: 30px;
    padding-bottom: 15px;
    text-align: center;
}

.about-us-box .about-us-photo {
    position: relative;
    width: 160px;
    margin: 0 auto;
}


.about-us-box .about-us-photo .about-us-role {
    position: absolute;
    bottom: 10px;
    left: 0;
    padding: 3px 5px;
    background: #019299;
    font-size: 14px;
    color: #fff;
    line-height: 15px;
    text-transform: uppercase;
}

.about-us-box .about-us-social a {
    color: #ddd;
}

.about-us-box .about-us-social {
    margin-top: 5px;
    font-size: 25px;
    line-height: 36px;
}

.about-us-box h3
{
	font-size: 24px;
    font-weight: 400;
}

.about-us-box p
{
	font-size: 16px;
    text-align: center;
    font-weight: 300;
    line-height: 25px;
}

/*new contact page*/

.contact{
    font-family: 'Roboto' !important;
    background-image: linear-gradient(to bottom, #436e70, #5f9ea0);    
    display: flex;
}

.contact .container{
    font-size:1.7rem;
    width: 75%;
    margin: 7rem auto;
    
}

.contact .contact-box{
    background: #f8f8ff;
    font-size:1.7rem;
    display: flex;
    
}

.contact .contact-left{
    flex-basis: 70%;
    font-size:1.4rem;
    padding: 5rem 7rem;
}

.contact .contact-right{
    flex-basis: 30%;
    font-size:1.7rem;
    padding: 12rem 1.5rem;
    background: #f8d887;
    color: #000;
}

.contact h1{
    margin-bottom:.6rem;
    margin-top:2rem;
}

.contact .container p{
    margin-bottom:2rem;
}

.contact .input-row{
    display: flex;
    justify-content:space-between;
    margin-left: .5rem;
    margin-right: .5rem;
    margin-top: 1.4rem;
    margin-bottom: 1.3rem;

}

.contact .input-row .input-group{
    flex-basis:48%;
}

.contact input{
    width:100%;
    border:none;
    border-bottom:.08rem solid #ccc;
    outline:none;
    padding-bottom: .5rem;
}

.contact textarea{
    width:100%;
    border:.08rem solid #ccc;
    outline:none;
    padding: .5rem;
    box-sizing:border-box;

}

.contact label{
    margin-bottom: 1rem;
    display:block;
    color:#000;
}

.contact button{
    background: #f8d887;
    width:9rem;
    border:none;
    outline:none;
    color:#000;
    margin-top:1rem;
    height:2.4rem;
    border-radius:1.5rem;
    box-shadow:0 .5 1rem rgba(28, 0, 181, .3);
}

.contact .contact-left h3{
    color:#000;
    font-weight:560;
    margin-bottom:2rem;
}

.contact .contact-right h3{
    font-weight:560;
    margin-bottom:2rem;
}

.contact .content .icons{
    font-size: 1.6rem;
    color:#333;
    padding: 1.2rem 0;
}

.contact .content .icons i{
    padding-right: 2rem;
    color: #000;
}


/* Footer */

footer {
    padding: 20px 0 15px 0;
    text-align: center;    
    margin-bottom: 10px;
}

.footer-social {
    font-size: 30px;
    line-height: 50px;
}

.footer-social  a
{
    color: #cc0000;
}



/* Bootstrap CSS */
.navbar-default {
    background-color: #7fb1b3;
    border-color: transparent;
}

.navbar-nav li a
{
	color: #000 !important;
}

.navbar-default .navbar-toggle {
    border-color: #FFF;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

/* Extra Small devices  */
@media (max-width: 480px) {
	.more-features-div-description, .more-features-div-heading
	{
		width: 80%;
	}
		.header-div
	{
		height: 350px;
	}

	.slide-text {
	    color: #fff;
    	margin-top: 35px;
	}
	.slide-text p {
    	font-size: 12px;
	}

	.slide-text h1 {
	    line-height: 25px;
    	font-size: 25px;
	}
}

/* Extra Small devices  */
@media (max-width: 767px) {
	.slide-text h1
	 {
	 	line-height: 30px;
    	font-size: 30px;
	 }

	 .slide-text p {
    	font-size: 13px;
	}
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	 .pricing-box
	 {
	 	margin-bottom: 20px;
	 }

	 .slide-text h1
	 {
	 	line-height: 45px;
    	font-size: 45px;
	 }

	 .slide-text p {
    	font-size: 15px;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	/* Typography CSS */

body
{
	font-family: 'Roboto' !important;
	overflow-x: hidden;
}

.main_heading {
    margin: 50px 0px;
}

.main_heading h1
{
	font-size: 45px;
    font-weight: 300;
    text-align: center;
    line-height: 45px;
    color: #777;
}

.underline
{
    display: inline-block;
    width: 160px;
    height: 2px;
    background-color: #b8860b;
}

/* Header CSS */

.header-div
{
	height: 550px;
    background-image: linear-gradient(to bottom, #436e70, #5f9ea0);
}

.logo-div a
{
    color: #fff !important;
    font-size: 28px;
    margin-top: 5px;
}

.navbar-nav li:nth-last-child(1) a
{
    background: #cfe2e2;
    border: 1px solid #fff;
    border-radius: 4px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.top-right-menu-ul
{
	margin-top: 10px;
}

.slide-text
{
	color: #fff;
	margin-top: 80px;
}

.slide-text h1
{
    line-height: 60px;
    font-size: 60px;
    margin-bottom: 18px;
}

.slide-text p
{
	font-size: 17px;
}


/* Features CSS */
.features-div
{
	text-align: center;
    -webkit-transition: all .15s linear;
    -moz-transition: all .15s linear;
    -ms-transition: all .15s linear;
    -o-transition: all .15s linear;
    transition: all .15s linear;
}

.features-div:hover
{
	margin-top: -10px;
}


.features-div i
{
	font-size: 35px;
    font-weight: 300;
    color: #b8860b;
}

.features-div h4
{
    color: #393939;
    font-weight: 400;
}

.features-div p
{
    color: #636363;
    font-size: 17px;
    font-weight: 300;
    line-height: 25px;
}

.more-features-div
{
    margin-top: 40px;
	overflow: hidden;
}

.more-feature-div
{
    background: #f8f8f8;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;	
    margin: 70px 0px;
    margin-bottom: 0px;      
    padding: 50px 0px;  
}


.more-features-div-icon {
    float: left;
    width: 60px;
    height: 60px;
    padding-top: 6px;
    background: #5f9ea0;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    font-size: 30px;
    color: #fff;
    line-height: 45px;
    text-align: center;
}

.more-features-div-heading {
    float: right;
    width: 86%;
    margin-top: 0;
    font-weight: 400;    
}

.more-features-div-description
{
	float: right;
    width: 86%;
    font-weight: 300;
}



/* Call Action */
.call-action-bg
{
	background-image: linear-gradient(to bottom, #436e70, #5f9ea0);
	margin:60px 0px; 
    text-align: center;
    padding-bottom: 50px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
	background-size: cover;    
}

.call-action-color {
    background-image: linear-gradient(to bottom, #436e70, #5f9ea0);
    margin: 60px 0px;
    text-align: center;
    padding-bottom: 50px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
    color: #fff;
}

.call-action-color .main_heading h1
{
	color: #fff;
}

.call-action-color .underline
{
	background-color: #fff;
}

/*Articles*/
body {
  font-family: sans-serif;
  min-height: 100vh;
  max-width: 100vw;
  line-height: 1.4;
  padding: 20px 40px;
}

.container {
  max-width: 1200px;
}

.heading-1 {
  font-size: 40px;
  text-transform: uppercase;
}

.heading-2 {
  font-size: 40px;
  line-height: 1.1;
  margin-bottom: 20px;
}

.heading-3 {
  font-size: 20px;
  text-transform: uppercase;
  color: crimson;
  margin-bottom: 10px;
}

.sub-heading {
  font-size: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.sub-heading p {
  font-weight: 700;
  text-transform: capitalize;
  margin-right: 10px;
}

.sub-heading span {
  color: #555;
  font-weight: 300;
  border-right: 1px solid #ccc;
  padding-right: 10px;
}

.sub-heading .importent {
  color: crimson;
  text-transform: uppercase;
  font-weight: 300;
}

/* HOME */
.home {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
}

.home-img {
  width: 100%;
}

.list {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 10px;
  margin-bottom: 10px;
}

.list img {
  width: 100%;
  height: 80px;
}

/* ARTICLE */
article > p {
  font-size: 20px;
  margin-bottom: 20px;

  columns: 3 25ch;
  column-gap: 40px;
  hyphens: auto;
}

article p:first-child::first-line {
  font-weight: 700;
  font-size: 25px;
}

/* blockquote */
blockquote {
  font-size: 20px;
  padding: 10px 30px;
  margin-bottom: 40px;
  position: relative;
}

blockquote::before {
  content: open-quote;
  position: absolute;
  top: -48px;
  left: -4px;
  opacity: .3;
  color: #666;
  font-size: 150px;
}

.cards {
  columns: 25ch 3;
  gap: 40px;
  margin-bottom: 40px;
}

.card {
  font-size: 20px;
  border: 1px #2f4f4f solid;
  padding: 10px 20px;
  break-inside: avoid;
}
@media (max-width: 650px) {
  .lists {
    grid-template-columns: 1fr;
  }
}



/* About */
.about-us-box {
    padding-top: 30px;
    padding-bottom: 15px;
    text-align: center;
}

.about-us-box .about-us-photo {
    position: relative;
    width: 160px;
    margin: 0 auto;
}


.about-us-box .about-us-photo .about-us-role {
    position: absolute;
    bottom: 10px;
    left: 0;
    padding: 3px 5px;
    background: #330000;
    font-size: 14px;
    color: #fff;
    line-height: 15px;
    text-transform: uppercase;
}

.about-us-box .about-us-social a {
    color: #ddd;
}

.about-us-box .about-us-social {
    margin-top: 5px;
    font-size: 25px;
    line-height: 36px;
}

.about-us-box h3
{
	font-size: 24px;
    font-weight: 400;
}

.about-us-box p
{
	font-size: 16px;
    text-align: center;
    font-weight: 300;
    line-height: 25px;
}


/* Footer */

footer {
    padding: 20px 0 15px 0;
    text-align: center;    
    margin-bottom: 10px;
}

.footer-social {
    font-size: 30px;
    line-height: 50px;
}

.footer-social  a
{
    color: #878787;
}



/* Bootstrap CSS */
.navbar-default {
    background-color: #7fb1b3;
    border-color: transparent;
}

.navbar-nav li a
{
	color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #fff;
}
